/*
Off-white: #ebedf0
matte-grey: #545659
dark-grey: #303133
matte pink-red: #e38197, #f55668
*/
body {
    background-color: #ebedf0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    color: #383233;
}

hr {
    color: #303133;
    margin: auto;
}

ul {
    margin: 1rem;
}

.body-container {
    scroll-snap-type: y mandatory;
}

.scroll {
    height: 100vh;
    scroll-snap-align: start;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.header {
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
}

.output {
    height: 512px;
    width: 360px;
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.input-img {
    width: 512px;
    height: 512px;
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-container {
    width: 550px;
    height: 550px;
    margin-right: 1rem;
}

.btn {
    display:inline-block;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 2rem;
    padding-top: .9rem;
    padding-right: 2rem;
    padding-bottom: .9rem;
    background-color:#2979FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.r_border {
    border: 3px solid #f55668; /* redish-pink >#f55668  more red > #f14e4e*/
    border-radius: 15px;
}

#img {
    border-radius: 12px;
}

.width80 {
    width: 80%;
}

.grey {
    /*background-color: grey;*/
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.creator_container {
    /*background-color: blue;*/
    height: 256px;
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.creator {
    width: 256px;
    height: 256px;
    background-color: #e0e0e0;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
    /*background-color: pink;*/
    width: 75%;
    margin: auto;
}

.button_container {
    margin: auto;
    /*background-color: white;*/
    width: 88%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_repo {
    margin: auto;
    /*background-color: brown;*/
    width:40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repo_btn {
    display:inline-block;
    background-color:#f14e4e;
    border-radius: 0.2rem;
    text-decoration: none;
    text-align: center;
    padding-left: 2rem;
    padding-top: .9rem;
    padding-right: 2rem;
    padding-bottom: .9rem;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-label-btn {
    display:inline-block;
    background-color:#00b51a;
    border-radius: 0.2rem;
    text-decoration: none;
    text-align: center;
    padding-left: 2rem;
    padding-top: .9rem;
    padding-right: 2rem;
    padding-bottom: .9rem;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
}

.custom-label-btn:hover {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.repo_btn:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.btn:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.footer {
    margin: auto;
    flex-shrink: 0;
}

.bottom {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#username, #password {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#login-submit {
    text-transform: uppercase;
    outline: 0;
    background: #00b51a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
