
body {
    height: 100%;
    width: 80%;
    font-family: cursive;
    font-size: 14px;
    margin: auto;
}

.area {
    background: url("source.gif");
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
}

.square {
    float: left;
    position: absolute;
}

.complete {
    color: green;
    font-size: 24px;
}

.numbers {
    font-size: 32px;
    text-align: center;
}
